<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Whiteboard!</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<header id="header">
</header>
<body id="body">
    <div id="background"></div>
    <div id="trash">
        <img src="imgs/recyle-bin.png">
    </div>
    <div id="sticky-pad"></div>
    <div class="sidebar">
        <div class="content">
            <div class="row">
                <img src="imgs/sticky-note.png" class="note-icon">
                <ul>
                    <li>
                        <div class = "color-selector"> 
                            <div class="yellow selected" data-color="#fff475"></div>
                            <div class = "red" data-color="#c4563a"></div>
                            <div class = "green" data-color="#58c450"></div>
                            <div class = "blue" data-color="#509dc4"></div>
                            <div class = "purple" data-color="#aa7eb7"></div>
                            <div class = "orange" data-color="#e8a93e"></div>
                        </div>
                    </li>
                </ul>
            </div>
        <div class="row">
            <img src="imgs/pencil.png" class="pencil-icon">
            <ul>
                <li>
                    <div class = "pencil-selector">
                        <div class = "thin" data-weight="1"></div>
                        <div class = "normal" data-weight="3"></div>
                        <div class = "thick" data-weight="5"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
    
    <script src="/js/api.js"></script>
    <script src="/js/stickynote.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>