<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title!</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
    <img src="/imgs/background.jpg" id="background">
    <div class="contextMenuContainer" id="contextMenuContainer">
        <div class="contextMenu" id="contextMenu">
            <div class="menuHeader"></div>
            <div class="menuOption" id="stickyOption">Sticky Note</div>
            <div class="menuOption" id="magnetOption">Magnets</div>
        </div>
    </div>

    <script src="/js/draggable.js"></script>
    <script src="/js/drawable.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>