<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Whiteboard!</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<header>
</header>
<body>
    <div id="background"></div>
    <div class="sticky-pad"></div>
    <div class="sidebar">
        <div class="content">
            <ul>
                <li><p>Sticky Note</p>
                    <div class = "color-selector"> 
                        <div class="yellow"></div>
                        <div class = "red"></div>
                        <div class = "green"></div>
                        <div class = "blue"></div>
                        <div class = "purple"></div>
                    </div>
                </li>
                <li>Magnets</li>
                <li>Test option</li>
            </ul>
        </div>
    </div>
    <script src="/js/api.js"></script>
    <script src="/js/stickynote.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>