body {
    font-family: "Segoe Ui", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 100vh;
    min-height: 100vh;
    padding: 10px;
    overflow: hidden;
}

#background {
    display: flex;
    top: 0px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    border-radius: 1%;
    opacity: 20%;
    user-select: none;

    background-image: url("./imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.sticky-note {
    width: 180px;
    height: 180px;
    background-color: #fff475;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    font-family:sans-serif;
    font-size: 14px;
    border-radius: 6px;

}