body {
    font-family: "Segoe Ui", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 100vh;
    min-height: 100vh;
    padding: 10px;
    overflow: hidden;
}

#background {
    display: flex;
    top: 0px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    border-radius: 1%;
    opacity: 20%;
    user-select: none;

    background-image: url("./imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}


canvas {
    cursor:crosshair;
    position: relative;
}

.stickyHeader {
    position: relative;
    background-color: #00000010;
    height: 15px;
    width: 180px;
    border-radius: 6px 6px 0px 0px;

    flex-shrink: 0;
}
.stickyNote {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: #fff475;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    font-family:sans-serif;
    font-size: 14px;
    border-radius: 6px;
    

}


.contextMenuContainer {
    display: none;
    position: absolute;
    padding: 30px;

    z-index: 10000;

}
.contextMenu {

    width: 123px;
    border-radius: 10%;
    background-color: rgb(241, 240, 240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border: 1px solid rgba(255, 255, 255, 0.322);

    
}
.menuHeader {
    display:none;
    position:relative;
    background-color:rgba(216, 216, 216, 0.603);

    height: 2px;
    border-radius: 2%;
}
.menuOption {
    display: flexbox;

    width: 120px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.267);
    border-radius: 15%;
    padding: 10px, 20px, 10px, 20px;
    align-content: center;  
    text-align: center;


    font-size: 14px;
    font-weight: 500px;
    user-select: none;
    cursor: pointer;
}
.menuOption:hover {
    background-color:rgba(214, 214, 214, 0.288);
    transform:translate(1px);
}

.magnetTextBox {
  position: absolute;

  min-width: 100px;
  min-height: 50px;

  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  
  resize: both;
  overflow: hidden;
  cursor: default;

  border-radius: 2px;
  border: 1px solid #ccc;

}
.textBoxDragHandle {
  height: 10px;
  background: #0000002c;
  cursor: move;
  user-select: none;

  border-radius: 2px 2px 0 0;
  flex-shrink: 0;
}


.dragging {
    transform: scale(1.04);
    box-shadow: 6px 20px 12px rgba(0, 0, 0, 0.4);
    
}