* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

#background {
    position: fixed;
    z-index: 0;

    width: 100vw;
    height: 100vh;
    opacity: 7%;
    user-select: none;

    background-image: url("../imgs/background.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}

header {
    position: fixed;
    display: flex;
    align-items:flex-end;
    width: 100vw;
    height: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 0px 2px rgba(0, 0, 0, 0.02);
    transition: box-shadow .3s ease, height .3s ease-out;
    z-index: 100;
}

#trash {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100px;
    transition: bottom .4s ease;
}
#trash img {
    height: 100%;
}
#trash.hovering {
    bottom: 4px;
    transition: bottom .2s ease, left 1s ease;
}

#sticky-pad {
    position: fixed;
    height: 30px;
    width: 30px;
    right: 0;
    top: 30px;
    border-radius: 0px 0px 0px 5px;
    background-color:rgba(7, 7, 7, .8);
    box-shadow: 1px 2px 0px 1px rgba(1, 1, 1, 0.2);
    cursor: pointer;
    transition: box-shadow .3s ease, border-radius .5s ease;
    z-index: 100;
}
#sticky-pad:hover {
    border-radius: 0px 0px 0px 60%;
    box-shadow: -1px 3px 3px 1px rgba(1,1,1,0.2);
}

.sidebar {
    position: fixed;
    height: 60vh;
    width: 13px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px 0px 0px 10px;
    border-color: rgba(42, 42, 42, 0.219);
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    background-color: rgba(7, 7, 7, 0.797);
    transition: border-width 1s ease, box-shadow 2s ease, width .3s ease-out;
    z-index: 9;
}
.sidebar:hover {
    width: 175px;
    border-width: 0px;
    box-shadow: 3px 6px 9px 5px rgba(0, 0, 0, 0.492);
}
.sidebar .content {
    position: absolute;
    top: 1px;
    right: -1px;
    width: 90%;
    height: 99.5%;
    opacity: 0%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px 0 0 5px;
    box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.19);
    transition: opacity .2s ease-in;
}
.sidebar:hover .content {
    opacity: 100%;
}
.sidebar .content ul {
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);


    list-style: none;
}
.sidebar .content ul li  {
    padding: 10px;
    margin: 0px 5px 80px 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.495);
    transition: box-shadow .3s ease, transform .3s ease;
}
.sidebar .content ul li:hover {
    transform: translateY(-5px);
    box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.238);
}

.color-selector {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
}
.color-selector div {
    width: 15px;
    height: 15px;
    
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,1);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0, .3);
    cursor: pointer;
}
.color-selector .red {
    background-color: rgb(219, 82, 82);
}
.color-selector .green {
    background-color: rgb(106, 168, 77);
}
.color-selector .blue {
    background-color: rgb(111, 159, 214);
}
.color-selector .yellow {
    background-color: #fff475;
}
.color-selector .purple {
    background-color: rgb(224, 145, 248);
}


.sticky-note {
    --handle-height: 15px;
    width: 180px;
    height: 180px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    font-family:sans-serif;
    font-size: 14px;
    border-radius: 6px 6px 10px 10px;
    transition: box-shadow .2s ease-out;
}
.sticky-note .handle {
    background-color: #0000000e;
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: var(--handle-height);
    cursor: grab;
}
.sticky-note canvas {
    width: 100%;
    height: calc(100% - var(--handle-height));
    border-radius: inherit;
    cursor: crosshair;
}
.sticky-note.crumple {
    opacity: 0.8;
    transition: opacity 0.5s ease;    
}
