@font-face {
    font-family: 'FridgeMagnet';
    src: url('../fonts/AlphaFridgeMagnets.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FridgeMagnet';
  src: url('../fonts/AlphaFridgeMagnetsAllCaps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* Specifies uppercase only */
  unicode-range: U+0041-005A; /* A-Z */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /*Safari web select*/
    -khtml-user-select: none;
    -moz-user-select: none; /*Firefox web select*/
    -ms-user-select: none; /*Internet Explorer web select*/
    user-select: none;
}

body {
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

#background {
    position: fixed;
    z-index: 0;

    width: 100vw;
    height: 100vh;
    opacity: 7%;
    user-select: none;

    background-image: url("../imgs/background.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}

header {
    position: fixed;
    display: flex;
    align-items:flex-end;
    width: 100vw;
    height: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 0px 2px rgba(0, 0, 0, 0.02);
    transition: box-shadow .3s ease, height .3s ease-out;
    z-index: 100;
}

#trash {
    position: fixed;
    bottom: 5px;
    left: 10px;
    height: 100px;
    width: 100px;
    transition: bottom .4s ease;
}
#trash img {
    height: 100%;
}
#trash.hovering {
    bottom: 10px;
    transition: bottom .2s ease, left 1s ease;
}

#sticky-pad {
    position: fixed;
    height: 30px;
    width: 30px;
    right: 0;
    top: 30px;
    border-radius: 0px 0px 0px 5px;
    background-color:rgba(7, 7, 7, .8);
    box-shadow: 1px 2px 0px 1px rgba(1, 1, 1, 0.2);
    cursor: pointer;
    transition: box-shadow .3s ease, border-radius .5s ease;
    z-index: 100;
}
#sticky-pad:hover {
    border-radius: 0px 0px 0px 60%;
    box-shadow: -1px 3px 3px 1px rgba(1,1,1,0.2);
}

.sidebar {
    position: fixed;
    height: 60vh;
    width: 13px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px 0px 0px 10px;
    border-color: rgba(42, 42, 42, 0.219);
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    background-color: rgba(7, 7, 7, 0.797);
    transition: border-width 1s ease, box-shadow 2s ease, width .3s ease-out;
    z-index: 9;
}
.sidebar:hover {
    width: 175px;
    border-width: 0px;
    box-shadow: 3px 6px 9px 5px rgba(0, 0, 0, 0.492);
}
.sidebar .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1px;
    right: -1px;
    width: 90%;
    height: 99.5%;
    opacity: 0%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px 0 0 5px;
    box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.19);
    transition: opacity .2s ease-in;
}
.sidebar:hover .content {
    opacity: 100%;
}
.sidebar .content .row {
    display: flex;
}
.sidebar .content .note-icon {
    flex-shrink: 0;
    width: 90px;
    height: 85px;
    margin: 10px 0 0 5px;
}
.sidebar .content .pencil-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin: 0px 0 0 20px;
}
.sidebar .content ul {
    list-style: none;
    margin-left: 10px;
}

.color-selector {
    margin: 20px 10px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.color-selector div {
    width: 15px;
    height: 15px;
    
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0, .3);
    cursor: pointer;
}
.color-selector .red {
    background-color: #c4563a;
}
.color-selector .green {
    background-color: #58c450;
}
.color-selector .blue {
    background-color: #509dc4;
}
.color-selector .yellow {
    background-color: #fff475;
}
.color-selector .purple {
    background-color: #aa7eb7;
}
.color-selector .orange {
    background-color: #e8a93e;
}
.color-selector .selected {
    border-width: 3px;
}

.pencil-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0 0 19px;
    gap: 10px;
}
.pencil-selector div {
    width: 15px;
    height: 15px;

    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgb(156, 156, 156);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0, .3);
    cursor: pointer;
}
.pencil-selector .thin {
    width: 10px;
    height: 10px;
}
.pencil-selector .thick {
    width: 20px;
    height: 20px;
}
.pencil-selector .selected {
    border-width: 3px;
}



.sticky-note {
    --handle-height: 15px;
    width: 180px;
    height: 180px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    font-family:sans-serif;
    font-size: 14px;
    border-radius: 6px 6px 10px 10px;
    transition: box-shadow .2s ease-out;
}
.sticky-note .handle {
    background-color: #0000000e;
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: var(--handle-height);
    cursor: grab;
}
.sticky-note canvas {
    width: 100%;
    height: calc(100% - var(--handle-height));
    border-radius: inherit;
    cursor: crosshair;
}
.sticky-note.crumple {
    opacity: 0.6;
    transition: opacity 0.5s ease;    
}

.magnet {
    --handle-height: 7px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    width: 200px;
    height: 100px;
}
.magnet .handle {
    background-color: rgba(0,0,0,0.3);
    cursor: grab;
    width: inherit;
    height: var(--handle-height);
    border-radius: 3px 3px 0 0;
}
.magnet textarea {
    background-color: rgba(0,0,0,0);
    border-style: solid dotted dotted dotted;
    border-width: 2px;
    border-color: rgba(0,0,0,0.3);
    width: inherit;
    height: calc(100% - var(--handle-height));
    font-family: 'FridgeMagnet', sans-serif;
}